body{
	margin: 0;
}
.info {
	background: #dfd;
	font-size: 16px;
	padding: 10px;
	color: #333;
	text-align: center; 
}
#header{
	background:  #a70d0d;;
	font-size: 48px;
	padding: 2%;
	color: white;
	text-align: center;
	margin: auto;
	border-bottom: 5px solid #d34a4a;
}
.account_form{
	font-size: 24px;
	width: 70%;
	margin: auto;
	padding-top: 5%
}
.account_form >*{
	width: 100%;
	height: 30px;
	margin: 10px;
	outline-color:  #a70d0d;;
}
#submit_changes{
	background:  #a70d0d;;
	color: white;
	border: none;
	height: 35px;
	font-size: 16px;
}
